/* Reset CSS */
*::before, *::after, *{
    box-sizing: border-box; /* faz com que o padding e a borda não aumentem o tamanho do elemento */
}
  
*{
      margin: 0;
      padding: 0;
      font: inherit;  /* herda a fonte do elemento pai */
  
      -webkit-font-smoothing: antialiased; /* deixa as fontes mais nítidas */
      -moz-osx-font-smoothing: grayscale; /* deixa as fontes mais nítidas */
}

:root{
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #ffffff93;
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;

    --font-family: "Poppins", serif;

    --heading1: bold 1.5rem/125% var(--font-family);
    --paragraph: 1rem/150% var(--font-family);
    --paragraph-md: .875rem/170% var(--font-family);
    --paragraph-sm: .75rem/170% var(--font-family);
    

}

body{
    font: var(--paragraph);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: var(--brand-color);
    text-decoration: underline;
}

.container{
    padding-inline: 2rem;
    max-width: 80em;
    margin-inline: auto;
}

.bg-surface-color{
    background-color: var(--surface-color);
}



@media (width >= 80em) {
    :root{
        --heading1: bold 2rem/125% var(--font-family);
    }
}