header{
    padding-block: 2rem;
}

header .container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

#profile{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;

    & img{
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 50%;
        object-fit: cover;
    }
}



#profile h1{
    font: var(--heading1);
    color: var(--text-color-primary);
    margin-bottom: .5rem;
}

#profile p{
    font: var(--paragraph-md);
}

#info {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 17rem;
}

#info li{
    display: flex;
    gap: 8px;
    font: var(--paragraph);
    color: var(--text-color-secondary);
}
#info span{
    font: var(--paragraph-md);
}


@media (width >= 80em) {


    header .container {
        
        flex-direction: row;
        align-items:  center;       
        justify-content: space-between;
    }
    #profile{
        flex-direction: row;
        align-items: center;

        & img{
            width: 11rem;
            height: 11rem;
        }
    }

    #profile div{    
        max-width: 24rem;
    }
}